<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @concepto.name %>
</p>

<p>
  <strong>Tarifa:</strong>
  <%= @concepto.tarifa %>
</p>

<%= link_to 'Edit', edit_concepto_path(@concepto), class: "glyphicon glyphicon-edit" %> |
