<% provide(:title, "Inicio") %>
<div class="container-fluid bg-2" >
  <div class="row">


      <% @options.each do |opcion| %>
        <div class="col-xs-12">
          <%= link_to opcion[:letrero], eval(opcion[:ruta]), class: "btn btn-default cust-button" %>
        </div>
      <% end %>


  </div>
</div>
