<p id="notice"><%= notice %></p>

<h1>Reporte Global de Pagos</h1>

<table class="center">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Concepto</th>
      <th>Tarifa</th>
      <th>Pago</th>
      <th>Saldo</th>
    </tr>
  </thead>


</table>
