<% provide(:title, "Mantenimiento") %>
<div class="container-fluid bg-2" >
  <div class="row">

      <h4>Menú de Mantenimiento</h4>
      <% @opciones_mant.each do |opcion| %>
        <div class="col-xs-12">
          <%= link_to opcion[:letrero], eval(opcion[:ruta]),
          class: "btn btn-default cust-button" %>
        </div>
      <% end %>


  </div>
</div>
