@import "bootstrap-sprockets";
@import "bootstrap";

.bg-1 {
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}

.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
