@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables */

$my-green: #1abc9c;

.bg-1 {
  background-color: $my-green; /* Green */
  color: #ffffff;
}

.bg-2 {
  background-color: $gray-light;
  color: #ffffff;
  /* margin-top: 1px; */
}

.container-fluid {
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
}

.btn-default {
  color: #ffffff;
  background-color: $my-green;
  border-color: $my-green;
}

.cust-button {
  width: 170px !important;
  margin: 7px 2px;
}

.footer {
  background-color: $my-green;
  color: #ffffff;
}

.field-tm {
  color: #ffffff;
  padding-bottom: 10px;
}

table, th, td {
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
  }

table {
    border-spacing: 10px;
    background-color: $my-green;
  }

table.center {
  margin-left: auto;
  margin-right: auto;
}

th,td {
    background-color: $my-green;
    color: white;
  }

/* Header */

#logo {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  background-color: $gray-light;
  width: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #ffffff;
  /* @include box_sizing; */
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
